extends ../../layout/common

block content
		h1 Update Your Profile

		form(action="/users/update/" + user.id + "/profile", method="POST")
			label Name : 
			input(type="text", name="name")
			br
			br
			label Age : 
			input(type="number", name="age")
			br
			br
			label Email : 
			input(type="email", name="email")
			br
			br
			button.btn.btn-outline-info.m-2 UPDATE
		a.btn.btn-outline-info.m-2(href="/users/update/" + user.id + "/profile/avatar") UPDATE AVATAR

		table.table 
			h3 Profile: #{user.name}
			tr
				th(scope="col") Avatar
				th(scope="col") Name
				th(scope="col") Age
				th(scope="col") Email
			tr
				td
					if (user.avatar)
						img(src= "/" + user.avatar, style="width: 64px")
					else
						img(src= "/images/bower-logo.png", style="width: 64px")
				td= user.name
				td= user.age
				td= user.email